body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  max-width: 1110px;
  max-height: 78px;
  margin: 37px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.logo {
  display: block;
  width: 185px;
  height: 32px;
}
.nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  align-items: center;
}
.nav > li {
  margin-left: 15px;
}
a {
  text-decoration: none;
  color: #2f281e;
}
.in__btn {
  font-size: 16px;
  border-radius: 4px;
  font-weight: 700;
  padding: 11px 22px;
  color: #173a56;
  background-color: #ffffff;
  margin-left: 25px;
  border: 2px solid rgba(188, 208, 229, 1);
}
.up__btn {
  padding: 11px 24px;
}
.orange__btn {
  color: #ffffff;
  background-color: #ff9900;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
}
.section {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.top__section {
  width: 100%;
  max-width: 1126px;
  margin: -13px auto 0;
  display: flex;
  align-items: center;
}
.top__text {
  width: 50%;
  max-width: 530px;
}
.h1,
.h2,
.h3 {
  font-weight: 700;
}
.h1 {
  color: #2f281e;
  font-size: 44px;
}
.top-section__text {
  width: 86%;
  color: #544837;
  font-size: 18px;
  margin: 45px auto 45px 0;
}
.top__btns {
  width: 69%;
  max-width: 366px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.start__btn {
  width: 47%;
  padding: 15px 40px;
  border: none;
}
.video__link {
  width: 52%;
  padding-left: 30px;
  width: 161px;
  color: #ff9900;
  font-size: 16px;
  text-decoration: underline;
}
.play__icon {
  width: 20px;
  height: 17px;
  padding-right: 8.5px;
}
.top__img {
  width: 50%;
  max-width: 605px;
  margin: 0 auto;
}
.container {
  width: 100%;
  max-width: 1095px;
  margin: 110px auto 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h2 {
  font-size: 36px;
  display: block;
  text-align: center;
  margin: 0 auto 54px;
  max-width: 529px;
}
.text {
  font-size: 16px;
  font-weight: 500;
}
.blocks {
  display: flex;
  justify-content: space-between;
}
.test__block {
  width: 25%;
}
.block__icon {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow_icon {
  background-color: #7752be;
}
.arrow__img {
  width: 12px;
  height: 18px;
}
.survey_icon {
  background-color: #fab005;
}
.survey__img {
  width: 18px;
  height: 18px;
}
.heart_icon {
  background-color: #f03e3d;
}
.heart__img {
  width: 16px;
  height: 18px;
}
.clock_icon {
  background-color: #4dadf7;
}
.clock__img {
  width: 14px;
  height: 18px;
}
.test__block {
  margin-right: 45px;
  width: auto;
  max-width: 240px;
}
.h3 {
  font-size: 36px;
}
.h4 {
  font-size: 22px;
  font-weight: 600px;
}
.h5 {
  font-size: 16px;
  font-weight: 700px;
}
.sign-now__btn {
  display: block;
  text-align: center;
  padding: 15px 33px;
  margin: 34px auto 90px;
}
.mid__section,
.mid_btm__section {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  align-items: center;
}
.mid__sec__text,
.btm__text {
  width: 48%;
  max-width: 486px;
}
.h3 {
  margin-top: 3px;
  margin-bottom: 22px;
}
img {
  width: 100%;
  height: auto;
}
.mid__img {
  width: 48%;
  max-width: 520px;
  margin: 0 auto;
}
.mid-mid__section {
  width: 100%;
  max-width: 1121px;
  margin: 120px auto 101px;
  align-items: center;
}
.mid-mid__img {
  width: 48%;
  max-width: 535px;
  margin: 0 auto;
}
.mid-mid__text {
  max-width: 486px;
  margin-left: 100px;
}
.mid-list__block {
  display: flex;
  justify-content: space-between;
}
.marker__icon {
  display: flex;
  flex-direction: column;
}
.icon {
  width: 35px;
  height: 35px;
  margin-right: 30px;
  margin-top: 38px;
}
.mid-block__text {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.mid_btm__img {
  width: 48%;
  max-width: 542px;
  margin: 0 auto;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1109px;
  max-height: 308px;
  margin: 146px 131px 83px 160px;
}
. .list {
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  max-height: 205px;
  line-height: 35px;
}
.ftr__logo {
  align-self: flex-start;
}
.ftr__btn {
  width: 100%;
  max-width: 325px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 6px;
}
.ftr_sign__btn {
  width: 100%;
  max-width: 131px;
  max-height: 39px;
  padding: 8px 15px;
}
